<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168538273-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168538273-1');
</script>
  <title>ThatPythonGuys</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
  {% seo %}
</head>
<div class="container-fluid">

<body>

  <nav class="navbar navbar-expand flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" id="Website-title" href="#" style="color: black; font-size: 36px;">ThatPythonGuys</a>
    <div class="navbar-nav-scroll">
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li>
        <a class="nav-link left-navbar" href="/">Home</a>
      </li>
      <li class="nav-item dropdown left-navbar last-nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Biology</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/biology/biousaboopen">USABO Open</a>
          <a class="dropdown-item" href="/biology/biousabosemi">USABO Semifinals</a>

      <li class="nav-item dropdown left-navbar last-nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Math</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/math/amcaime">AMC10/12</a>
          <a class="dropdown-item disabled" href="#">AIME</a>
          <a class="dropdown-item" href="/math/mathtalentsearch">Math Talent Search</a>

      <li class="nav-item dropdown left-navbar last-nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Physics</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/phyiscs/fequalsma">F=MA</a>
          <a class="dropdown-item disabled" href="#">More soon!</a>
      <li>
        <a class="nav-link left-navbar" href="/sciencebowl">Science Bowl</a>
      </li>

      <li class="nav-item dropdown left-navbar last-nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
      </li>

      <li>
        <a class="nav-link left-navbar disabled" href="#">Daily AMC Posts</a>
      </li>

    </ul>
  </nav>
  <!---Above is the main navigation bar-->

  <!--Below lies the main page content-->
<div class="row" style="margin-top:20px">

  <aside class="col-lg-3">
    <header>

      <h2>AMC Posts!</h2>
    </header>

    <hr>
<!-- Below lies the vertical navigation bar and footer-->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">4/4/20</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"> More posts soon!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">More posts soon!</a>
      </li>
    </ul>

    <hr>

    <footer>
      <a class="social-media" href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a  class="social-media" href="#">
        <i class="fab fa-github"></i>
      </a>
      <a class="social-media" href="#">
        <i class="fab fa-quora"></i>
      </a>
      <a class="social-media"href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </footer>
  </aside>

<!-- This is the main content of the page-->
  <main class="col-sm-6">
    <h3>The Unofficial Worked AMC Blog</h3>
    <hr>

    {{ content }}

  </main>

</div>

</body>
</div>
</html>
